cointainer{
    margin:0;
    padding:0;
    min-height:4vh ;
}
.content{
    width:700px;
    margin:0 auto;
    
    background-color: rgb(121, 121, 219);
    border: 10px solid rgb(134, 41, 134);
}